.match-tile{
    width: 150px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    position: relative;

    p {
        position: absolute;
        bottom: 15px;
        left: 15px;
        font-weight: bold;
    }
}

#conversation {
    display: none;
    width: 96%;
    height: 96%;
    position: absolute;
    left: 2%;
    top: 2%;
    z-index: 100;
    background: #fff;
    padding: 30px;

    .top-bar{
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;
    }

    .conversation-message {
        background-color: lightgray;

        p {
            margin: 0;
        }
    }

    #close-conversation {
        cursor: pointer;
        color: gray;

        &:hover {
            color: black;
        }
    }
}