<div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Join the best astrodating App</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Get your FREE account</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium hic quisquam harum, laboriosam laborum exercitationem odit velit dignissimos. Tenetur ipsam quasi a voluptatem dicta molestias id tempore quod commodi nulla.</p>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Pro</h4>
          </div>
          <div class="card-body">
          <p>Click below to sign up today!</p>
            <%= link_to "Sign Up Now", new_account_registration_path, class: "btn btn-lg btn-block btn-primary" %>
          </div>
        </div>
      </div>